<!DOCTYPE html>
<html>
  <head>
    <title>Sample Project</title>

    <!-- set viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ensures users can see Raleway and Alegreya fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,700" rel="stylesheet">

    <!-- links to css and js -->
    <link rel="stylesheet" type="text/css" href="main.css">
    <script defer src="main.js"></script>
  </head>

  <body>
    <header>
      <h1>Brian's Siiiick Movie Site</h1>
      <input id="input" type="search" placeholder="Enter Movie Title...">
      <button id="button" type="submit">Search</button>
      <a href="http://localhost:4567/favorites">Favorites</a>
    </header><!-- /header -->
    <div id="movies">

    </div>
    <div id="movie-details-section">
      <img id="movie-poster" src="" alt="">
      <p id="movie-title"></p>
      <p id="movie-year"></p>
      <p id="movie-plot"></p>
      <button id="favorite">Add to Favorites</button>
      <button id="exit">Exit</button>
    </div>
  </body>
</html>

